[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pendulum = "*"
pre-commit = "*"
pytest = "*"
flake8 = "*"
black = "*"
click = "==8.0.2"

[dev-packages]

[requires]
python_version = "3.9"
